<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Edit your listing</h3>
    <form method="POST" action="/listings/<%=list._id%>?_method=PUT">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="list[title]" type="text" value="<%=list.title%>" class="form-control">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="list[description]" class="form-control"><%=list.description%></textarea>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image link</label>
        <input name="list[image]" type="text" value="<%=list.image%> " class="form-control">
    </div>
    <div class="row">
    <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="list[price]" type="text" value="<%=list.price%> " class="form-control">
    </div>
    <div class="mb-3 col-md-8" >
        <label for="country" class="form-label">Country</label>
        <input name="list[country]" type="text" value="<%=list.country%> " class="form-control">
    </div>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="list[location]" type="text" value="<%=list.location%> " class="form-control">
    </div>
    
    <button class="btn btn-dark edit-btn">Edit</button>
    </form>
        </div>
    </div>    
</body>